/* Root Cofig */
:root{
  --bg-color: rgba(0, 0, 0, 0.7);
  --primary-color: #FF0F00;
  --radius: 15px;
}

/* Generic CSS */

#backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Buttons */

.button{
  border-radius: var(--radius);
}

/* Inputs */

.input{
  border-radius: var(--radius);
}
